body {
  background-color: rgb(216, 164, 216);
}

weather-app {
  background-color: aliceblue;
  max-width: 600px;
  margin: 0 auto;
  padding: 35px;
  box-shadow: 0 30px 50px aliceblue;
  border-radius: 10px;
}
