body {
  background-color: rgb(169, 136, 158);
  font-family: "IBM Plex Sans", sans-serif;
}
header {
  border-bottom: 1px solid rgb(169, 136, 158);
  padding: 20px 0;
}

.weatherApp {
  background: rgba(247, 247, 247, 0.6);
  border-radius: 10px;
  padding: 60px auto;
  max-width: 700px;
  height: 80%;
  margin: 40px auto;
}

.cityInput {
  background: rgba(247, 247, 247, 0.8);
  width: 300px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin-top: 60px;
  font-size: 20px;
}

.cityButton {
  font-size: 20px;
  color: rgb(242, 242, 242);
  padding: 12px;
  border: none;
  background: rgba(255, 192, 253, 0.8);
}

.cityButton:hover {
  cursor: pointer;
  background: rgba(255, 192, 253, 0.8);
}

.currentCity {
  margin: 45px;
  color: black;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.currentTemp {
  font-size: 80px;
}

.currentConditions {
  color: rgb(158, 171, 211);
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}
.forecast {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
