body {
  background-color: rgb(180, 158, 180);
  font-family: "IBM Plex Sans", sans-serif;
}
header {
  border-bottom: 1px solid rgb(180, 158, 180);
  padding: 20px 0;
}

.weatherr-app {
  background-color: whitesmoke;
  max-width: 600px;
  margin: 30px auto;
  padding: 35px;
  box-shadow: 0 20px 200px whitesmoke;
  border-radius: 10px;
}

.search-form-input {
  background-color: rgb(180, 158, 180);
  border: none;
  border-radius: 5px;
  width: 70%;
  padding: 15px;
  font-size: 15px;
}

.search-form-button {
  background-color: rgb(210, 198, 220);
  padding: 20px;
  border: none;
  border-radius: 5px;
  color: antiquewhite;
  margin-left: 5px;
  font-size: 15px;
}
footer {
  border-top: 1px solid rgb(180, 158, 180);
  padding: 20px 0;
  text-align: center;
  font-size: 10px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 45px;
}
.weather-app-details {
  font-size: 15px;
  line-height: 15px;
  color: rgb(180, 158, 180);
}
.weather-app-details strong {
  color: rgb(74, 74, 152);
}
.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature-value {
  font-size: 75px;
  font-weight: bold;
  margin: left 10px;
}
.weather-app-icon {
  font-size: 44px;
  margin-top: 15px;
}
.weather-app-unit {
  margin-bottom: 15px;
  font-size: 25px;
}
