body {
  background: linear-gradient(
    44.8deg,
    rgba(255, 155, 248, 0.8) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  font-family: "Barlow Condensed", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  min-height: 100vh;
}
a {
  color: #c163bc;
}

header {
  border-bottom: 1px solid #dadada;
  padding: 0 0 30px 0;
}

footer {
  border-top: 1px solid #dadada;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: #beb2b2;
}

.search-field {
  background-color: #e7eaf6;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 30px;
  font-size: 16px;
}

.search-button {
  background-color: #dadada;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}

.city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  padding: 20px;
  color: #38598b;
}

.temperature {
  color: #d28ecb;
  font-weight: bold;
  font-size: 45px;
  padding: 25px;
  display: flex;
  line-height: 70px;
}
.weather-details {
  font-size: 16px;
  line-height: 20px;
  color: gray;
  padding: 15px;
}
.weather-icon {
  width: 88px;
  height: 88px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.humidity {
  color: #38598b;
}
.wind-speed {
  color: #38598b;
}
