body {
  background-color: rgb(169, 136, 158);
  font-family: "IBM Plex Sans", sans-serif;
}
header {
  border-bottom: 1px solid rgb(169, 136, 158);
  padding: 20px 0;
}

.weather-app-data {
  background-color: #caafd2;
  max-width: 600px;
  margin: 30px auto;
  padding: 35px;
  box-shadow: 0 20px 200px #c1aac9;
  border-radius: 10px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 50%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #cf98c4;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(90, 85, 110, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #823e87;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-size: 70px;
  margin-left: 10px;
  font-weight: bold;
}

.weatehr-app-unit {
  margin-top: 15px;
  font-size: 25px;
}

footer {
  border-top: 1px solid #695e86;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
