body {
  background-color: rgb(180, 158, 180);
}

.weatherr-app {
  background-color: whitesmoke;
  max-width: 600px;
  margin: 0 auto;
  padding: 35px;
  box-shadow: 0 20px 200px whitesmoke;
  border-radius: 10px;
}
